body{
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container{
    background-color: white;
}

p{
    font-family: 'Lato';
}

a:link{
    font-weight: 400;
    color:#8e7cc3;
}

a:visited{
    font-weight: 400;
    color:#8e7cc3;
}

a:hover{
    font-weight: 400;
    color:#8e7cc3;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.header-img{
    max-height: 100%;
    max-width: 100%;
}

.homelink{
    font-size: 25px;
    font-weight: 600;
    font-family:'Montserrat';
    color:#20124d;
}

.homelink:hover {
    color:#000000;
    text-decoration: none;
}

.active{
    font-weight: 800;
}

.bio{
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Montserrat';
    font-size: 24px;
}

.bio-link{
    font-weight: 600;
}

.btn-primary{
    background-color: #8e7cc3;
    border-color: #8e7cc3;
    color: #ffffff;
}

.btn-primary:link{
    background-color: #8e7cc3;
    border-color: #8e7cc3;
    color: #ffffff;
}

.btn-primary:visited{
    background-color: #8e7cc3;
    border-color: #8e7cc3;
    color: #ffffff;
}

.btn-primary:hover{
    background-color: #674ea7;
    border-color: #674ea7;
    color: #ffffff;
}

.btn-link{
    font-family: 'Montserrat';
    font-weight: 200;
    color: #8e7cc3;
}

.btn-link:hover{
    font-family: 'Montserrat';
    font-weight: 200;
    color: #000000;
}

.card-footer{
    background-color: #ffffff;
}

.credit{
    text-align: center;
}

.footer-link {
    font-weight: 400;
    color: #8e7cc3;
}

.footer-link:visited {
    font-weight: 400;
    color: #8e7cc3;
}

.footer-link:hover {
    font-weight: 400;
    color: #8e7cc3;
}

.secret {
    color: #000000;
}

.secret:visited{
    color: #000000;
}

.secret:hover{
    color: #000000;
    text-decoration: none;
}

.table td{
    text-align: center;
    border-color: #ffffff;
}

.table-bordered{
    border: 2px solid;
    border-color: #ffffff;
}

.table-proj{
    background:#EBE5FA;
}

.title{
    font-weight: 600;
    color: #674ea7;
    font-family: 'Montserrat';
}